* {
    background-color: black;
    color: white;
    font-family: "libre Baskerville", serif;
}

img {
    height: 300px;
    width: 100%;
    border: white 5px solid;
    border-radius: 20px;
}

div {
    text-align: center;
    width: 50%;
    margin-left: 25%
}